@model Author
<div class="card">
    <div class="card-header">@Model.AuthorName</div>
    <div class="card-body">@Model.Biography</div>
    <div class="card-body">@Model.BirthDate</div>
    <div class="card-footer">@Model.Country</div>

</div>