@model IEnumerable<MVC_Project.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">

    <tr>
        <th>Author Name</th>
        <th>Author Biography</th>
        <th>Author Country</th>
        <th>Author BirthDate</th>
    </tr>
    @foreach(Author author in Model)
    {
        <tr>
            <td>@author.AuthorName</td>
            <td>@author.Biography</td>
            <td>@author.Country</td>
            <td>@author.BirthDate</td>

        </tr>
}
    </tbody>
</table>
