
<section id="latest-blog" class="py-5 my-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="section-header align-center">
					<div class="title">
						<span>Read our articles</span>
					</div>
					<h2 class="section-title">Latest Articles</h2>
				</div>

				<div class="row">

					<div class="col-md-4">

						<article class="column" data-aos="fade-up">

							<figure>
								<a href="https://www.newyorker.com/culture/cultural-comment/can-reading-make-you-happier" target="_blank" class="image-hvr-effect">
									<img src="/images/post-img1.jpg" alt="post" class="post-image">
								</a>
							</figure>

							<div class="post-item">
								<div class="meta-date">Mar 30, 2021</div>
								<h3><a href="https://www.newyorker.com/culture/cultural-comment/can-reading-make-you-happier" target="_blank">Reading books always makes the moments happy</a></h3>

								<div class="links-element">
									<div class="categories">inspiration</div>
									<div class="social-links">
										<ul>
											<li>
												<a href="https://www.newyorker.com/culture/cultural-comment/can-reading-make-you-happier" target="_blank"><i class="icon icon-facebook"></i></a>
											</li>
											<li>
												<a href="https://www.newyorker.com/culture/cultural-comment/can-reading-make-you-happier" target="_blank"><i class="icon icon-twitter"></i></a>
											</li>
											<li>
												<a href="https://www.newyorker.com/culture/cultural-comment/can-reading-make-you-happier" target="_blank"><i class="icon icon-behance-square"></i></a>
											</li>
										</ul>
									</div>
								</div><!--links-element-->

							</div>
						</article>

					</div>
					<div class="col-md-4">

						<article class="column" data-aos="fade-up" data-aos-delay="200">
							<figure>
								<a target="_blank" href="https://www.onestopenglish.com/support-for-teaching-adults/reading-matters-what-is-reading/154842.article" class="image-hvr-effect">
									<img src="/images/post-img2.jpg" alt="post" class="post-image">
								</a>
							</figure>
							<div class="post-item">
								<div class="meta-date">June 9, 2015</div>
								<h3><a target="_blank" href="https://www.onestopenglish.com/support-for-teaching-adults/reading-matters-what-is-reading/154842.article">Reading matters: What is reading?</a></h3>

								<div class="links-element">
									<div class="categories">By Adrian Tennant</div>
									<div class="social-links">
										<ul>
											<li>
												<a target="_blank" href="https://www.onestopenglish.com/support-for-teaching-adults/reading-matters-what-is-reading/154842.article"><i class="icon icon-facebook"></i></a>
											</li>
											<li>
												<a target="_blank" href="https://www.onestopenglish.com/support-for-teaching-adults/reading-matters-what-is-reading/154842.article"><i class="icon icon-twitter"></i></a>
											</li>
											<li>
												<a target="_blank" href="https://www.onestopenglish.com/support-for-teaching-adults/reading-matters-what-is-reading/154842.article"><i class="icon icon-behance-square"></i></a>
											</li>
										</ul>
									</div>
								</div><!--links-element-->

							</div>
						</article>

					</div>
					<div class="col-md-4">

						<article class="column" data-aos="fade-up" data-aos-delay="400">
							<figure>
								<a target="_blank" href="https://www.uopeople.edu/blog/why-its-important-to-read/" class="image-hvr-effect">
									<img src="/images/post-img3.jpg" alt="post" class="post-image">
								</a>
							</figure>
							<div class="post-item">
								<div class="meta-date">Nov 22, 2022 </div>
								<h3><a target="_blank" href="https://www.uopeople.edu/blog/why-its-important-to-read/">Why is Reading Important for Your Growth?</a></h3>

								<div class="links-element">
									<div class="categories"></div>
									<div class="social-links">
										<ul>
											<li>
												<a target="_blank" href="https://www.uopeople.edu/blog/why-its-important-to-read/"><i class="icon icon-facebook"></i></a>
											</li>
											<li>
												<a target="_blank" href="https://www.uopeople.edu/blog/why-its-important-to-read/"><i class="icon icon-twitter"></i></a>
											</li>
											<li>
												<a target="_blank" href="https://www.uopeople.edu/blog/why-its-important-to-read/"><i class="icon icon-behance-square"></i></a>
											</li>
										</ul>
									</div>
								</div><!--links-element-->

							</div>
						</article>

					</div>

				</div>

				<div class="row">

					<div class="btn-wrap align-center">
						<a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
							Read All Articles<i class="icon icon-ns-arrow-right"></i>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>