<!DOCTYPE html>
<html lang="en">

<head>
    <title>BookSaw-Home</title>
    <link type="image/x-icon" sizes="16x16" rel="icon" href="/favicon.ico">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/style.css">




</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">





    <Partial name="_NavPartial.cshtml"></Partial>

    <!-- Assuming this is within a Razor view file -->
    @using (Html.BeginForm()) { /* This is a placeholder and will be overwritten by JavaScript */ }

    <Partial name="_SliderPartial.cshtml"></Partial>

   
    <Partial name="_ClientHolderPartial.cshtml"></Partial>

    <Partial name="_FeaturedBooksPartial.cshtml"></Partial>

    <Partial name="_BestSellingPartial.cshtml"></Partial>
    <Partial name="_PopularBooksPartial.cshtml"></Partial>
    <Partial name="_QuotationPartial.cshtml"></Partial>
    <Partial name="_SpecialOfferPartial.cshtml"></Partial>
    <Partial name="_SubscribePartial.cshtml"></Partial>
    <Partial name="_DownloadAppPartial.cshtml"></Partial>
    <Partial name="_FooterPartial.cshtml"></Partial>


    <div>
        @RenderBody()
    </div>


    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/script.js"></script>




    <script src="/js/extention/choices.js"></script>
    <script>
        const choices = new Choices('[data-trigger]',
            {
                searchEnabled: false,
                itemSelectText: '',
            });

    </script>


</body>

</html>