@model List<Book>
<section id="billboard">

	<div class="container" style="--bs-gutter-x: 6rem;">
		<div class="row">
			<div class="col-md-12">

				<button class="prev slick-arrow">
					<i class="icon icon-arrow-left"></i>
				</button>

				<div class="main-slider pattern-overlay">
					

					@foreach(Book book in Model)
					{
						<div class="slider-item d-flex ">
							<div class="row flex-nowrap">
							<div class="banner-content col-md-3">
								<h2 class="banner-title">@book.Title</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero
									ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis
									urna, a eu.
								</p>
								<div class="btn-wrap">
									<a href="/book/getbookbyid/@book.BookId" class="btn btn-outline-accent btn-accent-arrow">
										Read More<i class="icon icon-ns-arrow-right"></i>
									</a>
								</div>
							</div><!--banner-content-->
								<div class="col=md-9">	<img src="@book.ImageUrl" alt="banner" class="banner-image" style="width:40%;"></div>
						
						</div>
						</div>
						<!--slider-item-->
					}
				

				</div><!--slider-->

				<button class="next slick-arrow">
					<i class="icon icon-arrow-right"></i>
				</button>

			</div>
		</div>
	</div>

</section>
<script>
	$(document).ready(function () {
		$('.main-slider').slick({
			// Your Slick slider settings
			slidesToShow: 1,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 2000, // Adjust the speed of auto-sliding (in milliseconds)
			prevArrow: $('.prev'),
			nextArrow: $('.next'),
		});
	});
</script>
