@model List<Book>
<section id="special-offer" class="bookshelf pb-5 mb-5">

    <div class="section-header align-center">
        <div class="title">
            <span>Grab your opportunity</span>
        </div>
        <h2 class="section-title">Books with offer</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="inner-content">
                <div class="product-list" data-aos="fade-up">
                    <div class="grid product-grid">
                        @foreach (Book book in Model)
                        {
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="@book.ImageUrl" alt="Books" class="product-item">
                                    
                                </figure>
                                <figcaption>
                                    <h3>@book.Title</h3>
                                    <span>@book.Author.AuthorName</span>
                                    <div class="item-price">
                                        <span class="prev-price">$ @book.Price</span>$@(book.Price - 7)
                                    </div>
                                </figcaption>
                            </div>

                        }





                    </div>
                </div><!--grid-->
            </div>
        </div><!--inner-content-->
    </div>
    </div>
</section>
