
@{
    ViewData["Title"] = "GetCustomerById";
}

<h1>GetCustomerById</h1>

@model Customer
<div class="card">
    <div class="card-header">@Model.FullName</div>
    <div class="card-body">@Model.Address</div>
    <div class="card-body">@Model.Email</div>
    <div class="card-footer">@Model.PhoneNumber</div>

</div>
<partial name="_SelectedBookParial"></partial>