@model MVC_Project.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LogInLayout";
}

<br />
<br />
<br />
<link rel="stylesheet" href="/login/index2.css" />

        <!-- SIGN IN -->
        <div class="col-md-4 align-items-center flex-col sign-in" id="form1">
            <div class="form-wrapper align-items-center">
                <div class="form sign-in">
                    <form asp-action="Login">
                         <div asp-validation-summary="All" class="text-danger"></div> 
                        <div class="input-group">
                            <i class='bx bxs-user'></i>
                            <input asp-for="UserName" class="form-control" placeholder="Username">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <button type="submit">Sign in</button>
                        <p><b>Forgot password?</b></p>
                    </form>
                </div>
            </div>
        </div>
        <!-- END SIGN IN -->

<script src="/login/index2.js"></script>
<partial name="_ValidationScriptsPartial"></partial>
