@model MVC_Project.ViewModel.RegisterUserViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_RegisterLayout";
}

<br />
<br />
<br />
<link rel="stylesheet" href="/register/index2.css" />
<div class="col align-items-center flex-col sign-up">
    <div class="form-wrapper align-items-center">
        <div class="form sign-up">
            <form asp-action="Register">
                <div asp-validation-summary="All" class="text-danger"></div> 
                <div class="input-group">
                    <i class='bx bxs-user'></i>
                    <input asp-for="UserName" type="text" placeholder="Username" class="form-control" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="input-group">
                    <i class='bx bx-mail-send'></i>
                    <input asp-for="Email" type="email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="input-group">
                    <i class='bx bxs-lock-alt'></i>
                    <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="input-group">
                    <i class='bx bxs-lock-alt'></i>
                    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="input-group">
                    <i class='bx bxs-lock-alt'></i>
                    <input asp-for="Address" type="text" placeholder="Address" class="form-control" />
                    <span asp-validation-for="Address"></span>
                </div>
                <button type="submit">Sign up</button>
                <p>
                    <span>Already have an account?</span>
                    <a href="/Account/Login" class="pointer">Sign in here</a>
                </p>
            </form>
        </div>
    </div>
</div>
<script src="~/register/index2.js"></script>
<partial name="_ValidationScriptsPartial"></partial>


