
@{
    ViewData["Title"] = "AddNewBook";
}

@model Book
<form class="form form-control" asp-action="SaveBook" asp-controller="Book" enctype="multipart/form-data">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form form-control" />

    <label asp-for="AuthorId"></label>
    <input asp-for="AuthorId" class="form form-control" />

    <label asp-for="Price"></label>
    <input asp-for="Price" class="form form-control" />

    <label asp-for="ImageUrl"></label>
    <input type="file" asp-for="ImageUrl" class="form form-control" />

    <label asp-for="QuantityAvailable"></label>
    <input asp-for="QuantityAvailable" class="form form-control" />

    <input type="submit" class="btn btn-info" value="Add"   />
</form>
