@model Book
@{
    ViewData["Title"] = "NewBook";
}

<link rel="stylesheet" type="text/css" href="/css/bootstrap-FileUpload.min.css" />
<style>
    .cascading-left {
        margin-left: -40px;
    }

    @@media (max-width: 991.98px) {
        .cascading-left {
            margin-left: 0;
        }
    }

    .inputValidation {
        color: var(--accent-color);
    }

    .form-control[type=file] {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        word-wrap: break-word;
        box-sizing: border-box;
        margin: 0;
        font-family: inherit;
        outline: 0;
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-weight: 400;
        line-height: 1.5;
        appearance: none;
        background: var(--accent-color);
        text-decoration: none !important;
        position: relative;
        border: 1px solid transparent;
        border-radius: 1rem;
        font-size: 15px;
        text-align: center;
        color: #fff;
        z-index: 1;
        white-space: nowrap;
        vertical-align: middle;
        transition: all 0.3s ease-in;
        touch-action: manipulation;
        user-select: none;
        overflow: hidden;
        cursor: pointer;
    }

    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="text"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    textarea,
    select {
        margin-bottom: 0px;
    }

    div.btn-wrap .btn.btn-outline-accent {
        color: var(--dark-color) !important;
        border-color: var(--accent-color) !important;
    }


        div.btn-wrap .btn.btn-outline-accent:hover {
            color: var(--accent-color) !important;
            border-color: var(--dark-color) !important;
        }
</style>
<div class="section-header align-center">
    <div class="title">
        <span>Grow Our Treasure</span>
    </div>
    <h2 class="section-title">New Book</h2>
</div>
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-Left" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 ">
                        <h2 class="fw-bold mb-5 text-center">New Book</h2>
                        <form class="form" asp-action="SaveBook" asp-controller="Book" enctype="multipart/form-data">


                            <!-- Name input -->

                            <div data-mdb-input-init class="form-outline mb-4">

                                <label asp-for="AuthorName" class="form-label"></label>
                                <input asp-for="AuthorName" class="form form-control" />
                                <span asp-validation-for="AuthorName" class="inputValidation"></span>
                            </div>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">

                                <div class="col-md-6 mb-4">
                                    <label asp-for="Country" class="form-label"></label>
                                    <input asp-for="Country" class="form form-control" />
                                    <span asp-validation-for="Country" class="inputValidation"></span>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label asp-for="BirthDate" class="form-label"></label>
                                    <input asp-for="BirthDate" class="form form-control" />
                                    <span asp-validation-for="BirthDate" class="inputValidation"></span>
                                </div>
                            </div>


                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                            </div>
                            <div class="file-loading">
                                <label asp-for="ImageUrl"></label>
                                <input asp-for="ImageUrl" id="input-dim-1" name="input-dim-1[]" type="file" accept="image/*" class="form form-control" value="Upload Author Image">
                                <span asp-validation-for="ImageUrl" class="inputValidation"></span>
                            </div>


                            <!-- Submit button -->
                            <div class="btn-wrap m-5 text-center">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-accent btn-accent-arrow" style="margin:0px ;font-family: var(--heading-font);    font-weight: 600; ">
                                    Add New Author<i class="icon icon-ns-arrow-right"></i>
                                </button>
                            </div>


                            <!-- Register buttons -->
                            @*  <div class="text-center">
                            <p>or sign up with:</p>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-google"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-github"></i>
                            </button>
                            </div> *@

                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-lg-0">
                <div class="">
                    <img src="/images/Wallpaper/AuthorBG.jpg" class="w-100 rounded-4 shadow-4"
                         alt="" />
                    </<div>
                    </div>
                </div>
            </div>
            <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

<partial name="_ValidationScriptsPartial"></partial>
<script src="/js/bootstrap-FileUpload.min.js"></script>

@*  <script>
        $("#input-dim-1").fileinput({
            uploadUrl: "/file-upload-batch/2",
            allowedFileExtensions: ["jpg", "png", "gif"],
            maxImageWidth: 250,
            maxImageHeight: 250
        });
</script> *@
<script>
    $("#myUpload").bootstrapFileUpload({
        url: "",
        fileTypes: {
            images: [],

        }
    });
</script>
<form class="form form-control" asp-action="SaveBook" asp-controller="Book" enctype="multipart/form-data">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form form-control" />
    <span asp-validation-for="Title"></span>

    <label asp-for="AuthorId"></label>
    <input asp-for="AuthorId" class="form form-control" />
    <span asp-validation-for="AuthorId"></span>

    <label asp-for="Price"></label>
    <input asp-for="Price" class="form form-control" />
    <span asp-validation-for="Price"></span>

    <label asp-for="ImageUrl"></label>

    <input asp-for="ImageUrl" class="form form-control" type="file" />
    <span asp-validation-for="ImageUrl"></span>


    <label asp-for="QuantityAvailable"></label>
    <input asp-for="QuantityAvailable" class="form form-control" />
    <span asp-validation-for="QuantityAvailable"></span>

    <input type="submit" class="btn btn-info" value="Add"   />
</form>
<partial name="_ValidationScriptsPartial"></partial>

