@model List<Book>

@foreach (var book in Model)
{
    <div class="card">
        <div class="card-header">@book.BookId</div>
        <div class="card-body">@book.Title</div>
        <div class="card-body">@book.Price</div>
        <div class="card-footer">@book.ImageUrl</div>
    </div>
}
