
@{
    ViewData["Title"] = "Thanks";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
    <head>
<title>BookSaw-Home</title>
<link type="image/x-icon" sizes="16x16" rel="icon" href="/favicon.ico">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<style>
    /* Custom CSS for the background image */
    a{
        margin:0px;
        padding:0px;
    }
    .background-image {
/*         background-image: url('/images/thanks/White & Black Gold Minimal Calligraphy Thank You .jpg');
 */        background-size:contain;
        background-repeat:no-repeat;
        background-clip:content-box;
       
        background-position: center;
        height: 100vh; /* Adjust height as needed */
    }
</style>
</head>
    <body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

        <div class="col-md-12">
            <div class="background-image">
           
            </div>
        </div>


    </body>

</html>
<partial name="_SelectedBookParial"></partial>